*__pycache__*
*.ipynb_checkpoints*
*.vscode*
*.pt
*pth
*.onnx
*.bin
*.hbm
*wuc_note*
*.vscode*
*build*
*_result.jpg*
*py_result.jpg
*jupyter_result.jpg*
*coco2017_image_result*
*coco2017_val_pridect.json
*coco2017_val_pridect_nv12.json
*cpp_json_result.txt*


*zip
resource/datasets/COCO2017/annotations/*
resource/datasets/COCO2017/val2017/*

demos/detect/YOLO11/YOLO11-Detect_YUV420SP/eval/*

demos/detect/YOLO12/YOLO12-Detect_NCHWRGB/eval_cpp
demos/detect/YOLO12/YOLO12-Detect_YUV420SP/eval_cpp