[submodule "samples/vla/act"]
	path = samples/vla/act
	url = https://github.com/D-Robotics/rdk_LeRobot_tools
[submodule "samples/vla/pi0"]
	path = samples/vla/pi0
	url = https://github.com/D-Robotics/rdk_LeRobot_tools
